html body {
    box-sizing: border-box;
    background-color: rgb(78, 4, 10);
    font-size: large;
    border-radius: 30px;
}

img {
    width: 100%
}

.contain {
    background-color: rgba(206, 194, 194, 0.4);
    margin: auto;
    padding: 2rem 1rem;
    border-radius: 25px;
    color: white;
    width: 70rem;
    justify-content: space-between;
    align-content: space-between;
    height: fit-content;
}

.contain img {
    float: right;
}

.top {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

ion-icon {
    color: white;
}

#welcome {
    margin: 20px;
    font-size: xx-large;
}

#date {
    align-items: center;
    align-self: center;
    border: solid white 1px;
    border-radius: 20px;
    padding: 7px;
    width: fit-content;
    font-size: x-largefu;

}

#profile-pic img {
    border-radius: 50%;
}

#profile-pic {
    height: 40%;
    width: 8%;
}

.container {
    display: flex;
}

#new-task {
    border-radius: 20px;
    background-color: rgba(206, 194, 194, 0.2);
    padding: 1em 1em;
    width: 100%;
    border-radius: 0.5em;
    box-shadow: 0 1.25em 1.8em rgba(1, 24, 48, 0.15);
    display: inline-block;
    height: 10px;
}

#new-task input {
    font-size: 1em;
    border: none;
    border-bottom: 2px solid #d1d3d4;
    padding: 5px 0.5em;
    font-weight: 500;
    height: 15px;
    color: white;
}
::placeholder { 
    color: white;
    opacity: 80%;
  }

#tasks {
    background-color: rgba(206, 194, 194, 0.2);
    position: relative;
    padding: 1em 1em;
    margin-top: 1em;
    width: 96%;
    box-shadow: 0 1.25em 1.8em rgba(1, 24, 48, 0.15);
    border-radius: 0.6em;
}

.task {
    background-color: rgba(206, 194, 194, 0.2);
    padding: 0.3em 0.6em;
    margin-top: 0.6em;
    display: flex;
    align-items: center;
    border-bottom: 2px solid #d1d3d4;
    cursor: pointer;
}

.task button {
    padding: 0.8em 0;
    width: 2.8em;
    border-radius: 0.3em;
    border: none;
    outline: none;
    cursor: pointer;
}

.delete {
    background-color: rgba(206, 194, 194, 0.2);
}

.edit {
    background-color: rgba(206, 194, 194, 0.2);
    margin-left: auto;
    margin-right: 3em;
}

.completed {
    text-decoration: line-through;
}

.container input {
    background-color: rgba(206, 194, 194, 0.2);
    background: transparent;
    border: solid white 1px;
    color: white;
    font-size: large;
    font-weight: 300;
    position: relative;
}


#push {
    position: relative;
    margin-left: 90%;
    border-radius: 50;
    color: rgba(54, 53, 53, 0.7);
}

#welcome {
    font-weight: 200%;
}

button {
    background: transparent;
    border: none;
}

button:hover {
    border-radius: 50%;
    background-color: rgba(34, 33, 33, 0.7);
}